<span style="margin: 1rem 1rem 0rem 0rem">
    Version:
    <select style="width: 10rem" id="versionSelector"></select>
</span>
<script>  
    const versionSelector = document.getElementById("versionSelector");
    this.options = [{ value: "latest", text: "latest" }];

    (async function() {       
         await loadVersionsFromStorageOrGithub();
    })().then(() => {
        buildVersionSelect();
    });


    async function loadVersionsFromStorageOrGithub() {
        try {
            let versions;
            const versionsStr = sessionStorage.getItem('versions');
            if (versionsStr) {
                try {
                versions = JSON.parse(versionsStr);
                } catch (ex) {}
            }
            if (!versions) {
                try {
                    let res = await (await fetch('https://api.github.com/repos/{{site.repository}}/git/trees/gh-pages')).json();
                    var versionNode = res.tree.find(e => {
                    return e.path.toLowerCase() === 'version';
                    });
                    res = await (await fetch(versionNode.url)).json();
                    versions = res.tree.map(e => {
                    return {value: e.path, text: e.path};
                    });
                    versions.sort((e1, e2) => {
                    const e1Arr = e1.text.split('.');
                    const e2Arr = e2.text.split('.');
                    for (let i = 0; i < e1Arr.length && i < e2Arr.length; i++) {
                        const e1V = parseInt(e1Arr[i]);
                        const e2V = parseInt(e2Arr[i]);
                        if (e1V !== e2V) return e2V - e1V;
                        if (e1Arr[i] !== e2Arr[i]) return e2Arr[i] - e1Arr[i];
                    }
                    return e1.text === e2.text ? 0 : e2.text < e1.text ? -1 : 1;
                    });                    
                } catch(ex) {
                    versions = this.options;
                }
                sessionStorage.setItem('versions', JSON.stringify(versions));
            }
            this.options = versions;
            const path = window.location.pathname.toLowerCase();
            if (path.startsWith('/{{repoowner}}/version/')) {
                const start = 18;
                const end = path.indexOf('/', start);
                this.selected = path.substring(start, end);
            } else {
                this.selected = 'latest';
            }
        } catch (ex) {
            console.error(ex)
        }
    }
    function getCurrentVersion() {
        let path = window.location.pathname.toLowerCase();
        let versionStartIndex = path.indexOf("/version/");
        let versionEndIndex = path.indexOf("/", versionStartIndex + 1);
        let versionNumEndindex = path.indexOf("/", versionEndIndex + 1);
        return path.substring(versionEndIndex + 1, versionNumEndindex);
    }
    function buildVersionSelect() {
        let currentVersion = getCurrentVersion();
        for(let i = 0; i < this.options.length; i++) {    
            let version = this.options[i];    
            var option = document.createElement("option");
            option.value = version.value;
            option.textContent = i == 0 ? "latest (" + version.text + ")" : version.text;
            versionSelector.appendChild(option);
            if(option.value == currentVersion) {
                versionSelector.selectedIndex = i;
            }
        }
    }
    
    
    this.versionSelector.addEventListener("change", function(event) {
        this.selected = versionSelector.value;
        const targetVersionPath = this.selectedIndex == 0 ? '' : `/version/${this.selected}`;
        const path = window.location.pathname.toLowerCase();
        /* baseUrl might contain version number. If so, remove it. */
        let baseUrl = "{{site.baseurl}}"; 
        let secondSlashIndex = baseUrl.indexOf("/", 1);
        if(secondSlashIndex > 0) {
            baseUrl = baseUrl.substring(0, secondSlashIndex);
        }
        let baseUrlLength = baseUrl.length;

        let startIdx = baseUrlLength;
        const versionIdx = path.search(/\/version\/\d/);
        if (versionIdx >= 0) {
        startIdx = versionIdx + '/version/'.length;
        }
        const endIdx = path.indexOf('/', startIdx);
        
        const newPath = window.location.pathname.substring(0, baseUrlLength) +
        targetVersionPath +
        window.location.pathname.substring(endIdx);

        window.location.pathname = newPath;
    });
    </script>