<span style="margin: 1rem 1rem 0rem 0rem">
    Version:
    <select style="width: 10rem" id="versionSelector"></select>
</span>
<script>  
    const versionSelector = document.getElementById("versionSelector");
    console.log("JS");

    (async function() {
      await loadVersionsFromStorageOrGithub();
    })();
    this.options = [{value: "abc", text: "abc"}, {value: "abc", text: "abc"},{value: "abc", text: "abc"}];
    console.log(this.options);
    buildVersionSelect();

    async function loadVersionsFromStorageOrGithub() {
        try {
        let versions;
        const versionsStr = sessionStorage.getItem('versions');
        if (versionsStr) {
            try {
            versions = JSON.parse(versionsStr);
            } catch (ex) {}
        }
        if (!versions) {
            let res = await (await fetch('https://api.github.com/repos/{{site.repository}}/git/trees/gh-pages')).json();
            const versionNode = res.tree.find(e => {
            return e.path.toLowerCase() === 'version';
            });
            res = await (await fetch(versionNode.url)).json();
            versions = res.tree.map(e => {
            return {value: e.path, text: e.path};
            });
            versions.sort((e1, e2) => {
            const e1Arr = e1.text.split('.');
            const e2Arr = e2.text.split('.');
            for (let i = 0; i < e1Arr.length && i < e2Arr.length; i++) {
                const e1V = parseInt(e1Arr[i]);
                const e2V = parseInt(e2Arr[i]);
                if (e1V !== e2V) return e2V - e1V;
                if (e1Arr[i] !== e2Arr[i]) return e2Arr[i] - e1Arr[i];
            }
            return e1.text === e2.text ? 0 : e2.text < e1.text ? -1 : 1;
            });
            versions.unshift({value: 'master', text: 'master'});
            sessionStorage.setItem('versions', JSON.stringify(versions));
        }
        this.options = versions;
        const path = window.location.pathname.toLowerCase();
        if (path.startsWith('/{{repoowner}}/version/')) {
            const start = 18;
            const end = path.indexOf('/', start);
            this.selected = path.substring(start, end);
        } else {
            this.selected = 'master';
        }
        } catch (ex) {}
    }

    function buildVersionSelect() {
        this.options.forEach(function(version) {
            var option = document.createElement("option");

            option.value = version.value;
            option.textContent = version.text == "master" ? "latest" : version.text;
            versionSelector.appendChild(option);
        });
    }
    
    
    this.versionSelector.addEventListener("change", function(event) {
        
        this.selected = versionSelector.value;
        console.log("Selected: " + this.selected);
        const targetVersionPath = this.selected === 'master' ? '' : `/version/${this.selected}`;
        const path = window.location.pathname.toLowerCase();
        const baseUrlLength = "{{site.baseurl}}".length;
        console.log("BaseUrlLength: " + baseUrlLength);
        let startIdx = baseUrlLength;
        const versionIdx = path.indexOf('/version/');
        if (versionIdx >= 0) {
        startIdx = versionIdx + '/version/'.length;
        }
        const endIdx = path.indexOf('/', startIdx);
        
        const newPath = window.location.pathname.substring(0, baseUrlLength) +
        targetVersionPath +
        window.location.pathname.substring(endIdx);
        console.log(`Navigating to: '${newPath}'`);

        window.location.pathname = newPath;        
    });
    </script>